.Hamburger {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
}

.HamburgerLine {
    width: 32px;
    height: 3px;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
    background-color: aliceblue;
}

.HamburgerLine::before,
.HamburgerLine::after {
    display: block;
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
    background-color: aliceblue;
}

.HamburgerLine::before {
    transform: translateY(-12px);
}

.HamburgerLine::after {
    transform: translateY(12px);
}

.HamburgerLine.active {
    transform: translateX(-50px);
    background: transparent;
}

.HamburgerLine.active::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.HamburgerLine.active::before {
    transform: rotate(45deg) translate(35px, -35px);
}
